@import url("https://fonts.cdnfonts.com/css/sf-mono");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "SF Mono", sans-serif;
  overscroll-behavior: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #1a1f2e 0%, #2d3748 50%, #1e2532 100%);
  height: 100vh;
  width: 100vw;
}
